{% extends "base.html" %}
{% block title %}UV - UTC{% endblock %}
{% block header %}

<div class="top clearfix">
  <span class="right"><a href="#">Connecté en tant que : {{user.username}}</a></span>
  <span><a href="{% url 'index' %}" >Retour</a></span>
</div> 
{% endblock %}
{% block content %}
<div class="block50 block-justify">
  <h2>Comment ça marche ?</h2>
    <p>Le tableau des UV est triable en saisissant des termes dans son en-tête. Par exemple, si tu tapes "MT" dans Code, tu verras toutes les UV dont le code contient MT. En plus, les filtres sont cumulables ! En continuant l’exemple, si tu rajoutes CS dans catégories, tu verras les UV de type MT qui sont des CS.</p>
    <p>Pour les notes et les effectifs des UVs, tu peux choisir de filtrer les UVs selon que tu veuilles celles avec un note/effectif supérieur ou inférieur au seuil que tu fournis en sélectionnant le type de filtrage en haut à gauche.</p>
    <p>Toutes les combinaisons sont faisables, tu vas enfin savoir quelles sont les CS enseignées en TC au printemps sans TP et qui ont une note supérieure à 15 !</p>
    <p>Les données proviennent de l’UTC. Elles ont été regroupées dans une unique interface afin de permettre aux étudiants de rechercher parmi les UVs selon le maximum de critères possibles.</p>
  <h2>Comment puis-je aider ?</h2>
    <p>Si tu remarques des erreurs/incohérences/bugs, fait les remonter à <i>alecalve</i></p>
    <p>Si tu es un GI/programmeur et que tu veux améliorer le site, le code est disponible sur <a class="display" href="https://github.com/alecalve/uvutc">Github</a> sous licence libre <a class="display" href="https://github.com/alecalve/uvutc/blob/master/LICENSE.md">GNU Affero</a>.
</div>
{% endblock %}

