{% extends "base.html" %}
{% load staticfiles %}
{% block title %}UV - UTC{% endblock %}
{% block header %}
<div class="top clearfix">
  <span class="main"><a href="#" class="filter" data-to="places" data-name="effectif">Filtre effectif : <i>supérieur à</i></a></span>
  <span class="main"><a href="#" class="filter" data-to="note" data-name="note">Filtre note : <i>supérieur à</i></a></span>
  <span class="main"><a href="#" id="nb"></a></span>
  <span class="aux" id="close"><a class="ugly" href="#">Fermer</a></span>
  <span class="aux" id="titre"></span>
  <span class="right"><a href="#" id="trigger">Connecté en tant que : {{user.username}}</a></span>
  <span class="right"><a class="good" href="{% url 'help' %}"><b>Aide</b></a></span>
</div> 
{% endblock %}
{% block content %}
<div class="block table block100" id="main">
  <h1 id="load">Chargement des données en cours <img src="{% static 'loader.gif' %}"></h1>
  <h1 class="ugly" id="fail">Échec du chargement des données :o</h1>
  <table id="table">
    <thead>
      <tr>
        <th><input class="table-input" data-filter="code" type="search" placeholder="Code" value=""></th>
        <th><input class="table-input" data-filter="cat" type="search" placeholder="Type" value=""></th>
        <th><input class="table-input" data-filter="nom" type="search" placeholder="Nom" value=""></th>
        <th><input class="table-input" data-filter="resp" type="search" placeholder="Responsable" value=""></th>
        <th><input class="table-input" data-filter="brs" data-type="object" type="search" placeholder="Branche" value=""></th>
        <th><input class="table-input" data-filter="s" data-type="array" type="search" placeholder="Enseignée en" value=""></th>
        <th><input class="table-input" data-filter="tp" type="search" placeholder="TP" value=""></th>
        <th><input class="table-input" data-filter="ects" type="search" placeholder="Crédits" value=""></th>
        <th><input class="table-input" data-filter="f" type="search" placeholder="Final" value=""></th>
        <th><input class="table-input" id="places" data-filter="p" data-comp="sup" data-type="number" type="search" placeholder="Effectif" value=""></th>
        <th><input class="table-input" id="note" data-filter="note" data-type="number" data-comp="sup" type="search" placeholder="Note/20" value=""></th>
        <th>UVWeb</th>
        <th>Demeter</th>
        <th>Stats</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<div class="block block-center" id="aux"></div>


<script type="text/javascript">

  var uvs;
  
  $(document).ready(function () {
    $(".aux").hide();
    $("#fail").hide();

    $(".table-input").each(function () {
      if ($(this).data("comp") != undefined)
        $(this).data("comp", "sup");
    });

    $.ajax({
      dataType: "json",
      url: "/static/uvs.json",
      success: function (json) {
        uvs = json;
        refresh(filtre());
        $("#load").remove();
      }
    }).fail(function() {
      $("#load").remove();
      $("#fail").show();
    });    
  });

  $(".filter").click(function () {
    var parent = $("#"+$(this).data("to"));
    var comp = parent.data("comp");
    parent.data("comp", (comp == "sup") ? "inf" : "sup");
    if (comp == "sup") {
      $(this).html("Filtre " + $(this).data("name") + ": <i>inférieur à</i>");
    } else {
      $(this).html("Filtre " + $(this).data("name") + ": <i>supérieur à</i>");
    }
    refresh(filtre());
  });

  $(".table-input").keyup(function (e) {
    refresh(filtre());
  });

  $("#close").click(function () {
    $("#aux").hide();
    $("#main").fadeIn(1000);
    $(".aux").hide();
    $("#aux").empty();
    $(".main").show();
  });
  
  $(document).on('click', ".more a", function() {
    var uv = $(this).data("to");
    barChart(getEvals(uvs[uv], "appr"), "#aux", "Appréciation"); 
    barChart(getEvals(uvs[uv], "t"), "#aux", "Travail");
    barChart(getEvals(uvs[uv], "prereq"), "#aux", "Prérequis");
    barChart(getEvals(uvs[uv], "clarte"), "#aux", "Clarté");
    barChart(getEvals(uvs[uv], "equipe"), "#aux", "Équipe");
    barChart(getEvals(uvs[uv], "cohe"), "#aux", "Cohérence");
    barChart(getEvals(uvs[uv], "eval"), "#aux", "Évaluation");
    barChart(getEvals(uvs[uv], "moyens"), "#aux", "Moyens");
    barChart(getEvals(uvs[uv], "supp"), "#aux", "Supports");
    barChart(getEvals(uvs[uv], "r"), "#aux", "Réponses", false, true);
    $(".main").hide();
    $("#main").hide();
    $("#titre").text("  UV affichée : " + uv);
    $("#aux").fadeIn(1000);
    $(".aux").show();
  });
  </script>
{% endblock %}

