{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" /> 
    <meta name="author" content="alecalve" />
    <script src="{% static 'js/lib/jquery.min.js' %}"></script>
  </head>
  <body>
    <script type="text/javascript">
      $('<form />')
      .hide()
      .attr({ method : "post" })
      .attr({ action : "https://demeter.utc.fr/pls/portal30/ENSEIGNEMENT.CONSULTATION_ENSEIG_DYN.show"})
      .append($('<input />')
        .attr("type","hidden")
        .attr({ "name" : "p_arg_names" })
        .val("p_action"))
      .append($('<input />')
        .attr("type","hidden")
        .attr({ "name" : "p_arg_values" })
        .val("1"))
      .append($('<input />')
        .attr("type","hidden")
        .attr({ "name" : "p_arg_names" })
        .val("p_offre"))
      .append($('<input />')
        .attr("type","hidden")
        .attr({ "name" : "p_arg_values" })
        .val("{{num}}"))
      .append($('<input />')
        .attr("type","hidden")
        .attr({ "name" : "p_arg_names" })
        .val("p_langue"))
      .append($('<input />')
        .attr("type","hidden")
        .attr({ "name" : "p_arg_values" })
        .val("FR"))
      .append($('<input />')
        .attr("type","hidden")
        .attr({ "name" : "p_arg_names" })
        .val("p_aff"))
      .append($('<input />')
        .attr("type","hidden")
        .attr({ "name" : "p_arg_values" })
        .val("TAB"))
      .append($('<input />')
        .attr("type","hidden")
        .attr({ "name" : "p_arg_names" })
        .val("p_periode"))
      .append($('<input />')
        .attr("type","hidden")
        .attr({ "name" : "p_arg_values" })
        .val("{{date}}"))
      .append($('<input />')
        .attr("type","hidden")
        .attr({ "name" : "p_arg_names" })
        .val("p_diplome"))
      .append($('<input />')
        .attr("type","hidden")
        .attr({ "name" : "p_arg_values" })
        .val("ING"))
      .append($('<input />')
        .attr("type","hidden")
        .attr({ "name" : "p_arg_names" })
        .val("p_spec"))
      .append($('<input />')
        .attr("type","hidden")
        .attr({ "name" : "p_arg_values" })
        .val("{{spec}}"))
      .append('<input type="submit" />')
      .appendTo($("body"))
      .submit();
  </script>
  </body>
</html>
